body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#input-num{

    border: 1px solid black;
    border-radius: 2px;
    height: 30;
    width: 220px;
    text-align: center;
    background-color: lightgray;
    font-family:Georgia, 'Times New Roman', Times, serif
}
#input-num:hover{

    border: 2px solid black;

}
